@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	display: flex;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}

header {
	position: absolute;
	width: 100%;
	padding: 35px;
	text-align: center;
	background: #f1f1f1;
	font-size: 30px;
}

.text2 {
	padding-top: 10px;
	font-size: 15px;
	text-align: end;
}

.column {
	float: left;
	width: 25%;
	padding: 0 10px;
}

.row {
	margin: 12% -5px 0;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.card {
	margin-bottom: 50px;
	box-shadow: 0 4px 10px 0 rgba(0, 3, 0, 0.7);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
	height: 20em;
	width: 20em;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-top: 20px;
	}
}
